.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navButton {
  margin-left: 0px;
  & + & {
    margin-top: 8px;
  }
}
/* .nav button:before,
.nav button:after {
  content: '';
  clear: both;
  display: table;
} */
