.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;

  @media (--t) {
    padding-left: 0px;
    padding-right: 0px;
  }
  @media (--d) {
    padding-left: 10px;
    padding-right: 46px;
    align-items: flex-start;
  }
}
.tweetBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  @media (--d) {
    width: 100%;
  }
}
.profile {
  margin-top: auto;
}
